<div class="d-flex justify-content-center">
    <h2>
        Autenticação</h2>
</div>
<div class="d-flex justify-content-center">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group row">
            <label for="Usuario">Usuário</label>
            <input type="text" formControlName="Usuario" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Usuario.errors }" />
            <div *ngIf="submitted && f.Usuario.errors" class="invalid-feedback">
                <div *ngIf="f.Usuario.errors.required">Usuario é obrigatório</div>
            </div>
        </div>
        <div class="form-group row">
            <label for="Senha">Senha</label>
            <input type="password" formControlName="Senha" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Senha.errors }" />
            <div *ngIf="submitted && f.Senha.errors" class="invalid-feedback">
                <div *ngIf="f.Senha.errors.required">Senha é obrigatório</div>
            </div>
        </div>
        <div class="form-group row">
            <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Login
        </button>
        </div>
    </form>
</div>